html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Tenor Sans", serif;
  font-style: normal;
  font-size: 18px;
  line-height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  margin-top: 37px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ul {
  margin: 0 20px 0 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.header__a {
  text-decoration: none;
  color: black;
  font-family: "Libre Franklin", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
}
.header__li {
  margin-left: 40px;
}

.japan {
  margin-top: 88px;
}
.japan__inner {
  display: flex;
  justify-content: space-between;
}
.japan__right {
  max-width: 430px;
}
.japan__h6 {
  margin: 6px 0 18px 0;
  font-family: "Libre Franklin", serif;
  letter-spacing: 1px;
  line-height: 12px;
  font-size: 10px;
  color: #999999;
  font-weight: 400;
}
.japan__h1 {
  margin: 0;
  line-height: 42px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0;
}
.japan__p {
  margin: 27px 0 28px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Source Serif 4", serif;
  color: #666666;
  letter-spacing: 0;
}
.japan__h5 {
  margin: 0;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Libre Franklin", serif;
}

.block1 {
  margin-top: 60px;
}
.block1__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block1__item {
  max-width: 387px;
  margin-bottom: 50px;
}
.block1__h6 {
  margin: 19px 0 18px 0;
  font-family: "Libre Franklin", serif;
  font-weight: 400;
  color: #999999;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}
.block1__p {
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 382px;
  text-transform: uppercase;
}
.block1__h5 {
  font-family: "Libre Franklin", serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

.block2 {
  margin-top: 40px;
}
.block2__inner {
  border-top: 1px solid #E6E6E6;
}
.block2__h4 {
  font-weight: 400;
  font-family: "Libre Franklin", serif;
  color: #999999;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 90px 0 30px 0;
}
.block2__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block2__item {
  max-width: 285px;
  margin-bottom: 50px;
}
.block2__img {
  max-width: 285px;
  max-height: 187px;
}
.block2__h6 {
  margin: 20px 0 18px 0;
  font-family: "Libre Franklin", serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}
.block2__p {
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  max-width: 270px;
}
.block2__h5 {
  font-family: "Libre Franklin", serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}
.block2__form {
  text-align: center;
  margin-top: 40px;
}
.block2__button {
  padding: 21px 35px 21px 26px;
  border: 1px solid;
  font-family: "Libre Franklin", serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
}